.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h2{
  text-align: left;
}

ul{
  padding: 0;
}

li{
  list-style: none;
    padding: 0;
    text-align: left;
    font-size: 15px;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: #aaa;
}

.date{
  font-size: 0.8rem;
  font-weight: bolder;
}